<section class="card" id="blog{{id}}" >
    <header style="display:flex; justify-content: space-between; background-color:yellow">
     <h5>Post Id: {{id}}</h5>
      <h4>{{title}}</h4>      
      <h6>posted by {{user.name}}<span>  on   </span>{{format_date user.createdAt}}</h6>
    </header>
    <div class="card-body">
      <p> login status {{logininfo.loginstat}}  user_id  {{logininfo.usid}}</p>
      <p> {{content}}</p>
      <p> Number of Comments : {{comments.length}}</p>
  {{#if logininfo.loginstat}}
       <button class="btn" id="Comment">Examine</button>
 {{/if}}
    </div>
 {{#if logininfo.loginstat}}
    <script>
     function moveit(idt){
      document.getElementById(`blog${idt}`).addEventListener('click', function () {
        let idblog = {{id}}
        let ppath = '/singlepost/'+ idblog.toString()
      return document.location.replace(ppath);});}
      moveit({{id}})
    </script>
{{/if}}
</section>