<section class="cardComment" id="{{id}}">
  <div style=" background-color:lime">
     <h5 > Comment : {{title}}</h5>
  <header style="display:flex; justify-content: space-between; background-color:lime">
    <h6>Blog Ref : {{PostRef}}</h6>
    {{!-- <h6>{{title}}</h6> --}}
    <h6 style="font-size: 1em;">posted by {{user.name}}<span> on </span>{{format_date comment.createdAt}}</h6>
  </header>
</div>
  <div class="card-body">
    <p> {{content}}</p>
    {{#if (if_Eq commentor logininfo.usid)}}
    <div id="commbutts" style="display: flex;" class="justify-space-between">
      <button class="btn"  style="color:white; border: black solid 2px;background-color:yellowgreen" onclick="rrevealIt({{id}})">Edit</button>
      <button class="btn" style="color:white; border: black solid 2px;background-color:red" onclick="DeleteIt({{id}})">Delete</button>
    </div>
  {{/if}}
  </div>
  
    <div id="EditComment{{id}}" style="display: none;">
      <div id="editcommentinput" class="col-md-8">
        <div style="display:flex; flex-flow: row wrap; ">
          <h4>Comment Title:</h4> <textarea rows="2" cols="30" id="comtitle{{id}}" name="title">{{title}}</textarea>
          <div>
            <h4> Comment Content:</h4><textarea rows="6" cols="45" class="commentcont" id="comcontent{{id}}"
              name="content">{{content}}</textarea>
            <button class="btn" style="color: white; font:900" onclick="updateComment( {{id}})">Update</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function rrevealIt(idd) {
        let elementt =`EditComment`+idd.toString();
        console.log(elementt);
        document.getElementById(elementt).style.display="block";
         }



      async function DeleteIt(pkid) {
        try {
          const response = await fetch(`/api/comments/${pkid}`, { method: 'DELETE' });
          if (response.ok) {
            console.log(`/api/comments/${pkid}`)
            document.location.reload();
          }
        }
        catch (err) { console.log('Not deleted, not found') }
      }

      async function updateComment(idd) {
        try {
          const title = document.querySelector(`#comtitle${idd}`).value.trim();
          const content = document.querySelector(`#comcontent${idd}`).value.trim();
          console.log(content)
          if (content) {
            const response = await fetch(`/api/comments/${idd}`, {
              method: 'PUT',
              body: JSON.stringify({ title, content }),
              headers: { 'Content-Type': 'application/json' },
            });

            if (response.ok) {
              document.location.replace('/dashboard');
            }
          }
        }
        catch (err) {
          console.log('Failed to edit comment.')
        }
      };
    </script>

</section>