<section class="card comment" id="{{id}}">
  <header style="display:flex; justify-content: space-between; background-color:lime">
    <h5>Comment Id: {{id}}</h5>
    <h4>{{title}}</h4>
    <h6>posted by {{user.name}}<span> on </span>{{format_date comment.createdAt}}</h6>
  </header>
  <div class="card-body">
    <p> {{content}}</p>
    {{#if (if_Eq commentor logininfo.id)}}
    <div id="commbutts" style="display: flex;">
      <button class="btn" onclick="revealIt()">EditMyComment</button>
      <button class="btn" onclick="DeleteIt({{id}})">Delete Comment</button>
    </div>



    <section id="EditComment" style="display: none;">
      <div id="editcommentinput" class="col-md-8">
        <div style="display:flex; flex-flow: row wrap; ">
          <h5 style: 'margin: 0 10px 0 0'>Comment Content : </h5>
          <textarea rows="4" cols="50" id="comcontent" name="content" form="blogposting"></textarea>
          <button class="btn"  onclick="updateComment( {{id}})">UpdateComments</button>
        </div>
      </div>
    </section>

    {{/if}}
    <script>
      function revealIt() {
        document.getElementById('EditComment').style.display = "block";
        document.getElementById('commbutts').style.display = "none";
      }

      async function DeleteIt(pkid) {
        try {
          const response = await fetch(`/api/comments/${pkid}`, { method: 'DELETE' });
          if (response.ok) {
            console.log(`/api/comments/${pkid}`)
            document.location.replace('/');
          }
        }
        catch (err) { res.status(500).json({ message: 'Not deleted, not found' }) }
      }

      async function updateComment( idd) {
        try {
          const title = "Haskell the Rascal";
          const content = document.querySelector('#comcontent').value.trim();
          console.log(content)
          if (content && title) {
            const response = await fetch(`/api/comments/${idd}`, {
              method: 'PUT',
              body: JSON.stringify({ title, content }),
              headers: { 'Content-Type': 'application/json' },
            });

            if (response.ok) {
              document.location.replace('/');
            }
          }
        }
        catch (err) {
          res.status(500).json({ message: 'Failed to edit comment.' })
        }
      };
    </script>

</section>