<section class="card comment" id="{{id}}">
  <header style="display:flex; justify-content: space-between; background-color:lime">
    <h6>Comm: {{id}}, PostRef : {{PostRef}}</h6>
    <h6>{{title}}</h6>
    <h6>posted by {{user.name}}<span> on </span>{{format_date comment.createdAt}}</h6>
  </header>
  <h6>Commentor {{commentor}}<span> on </span>{{logininfo.id}}</h6>

  <div class="card-body">
    <p> {{content}}</p>
    {{#if (if_Eq commentor logininfo.id)}}
    <div id="commbutts" style="display: flex;">
      <button class="btn" onclick="revealIt({{id}})">EditMyComment</button>
      <button class="btn" onclick="DeleteIt({{id}})">Delete Comment</button>
    </div>

    <section id="EditComment{{id}}" style="display: none;">
      <div id="editcommentinput" class="col-md-8">
        <div style="display:flex; flex-flow: row wrap; ">
          <h4>Comment Title:</h4> <textarea rows="1" cols="10" id="comtitle{{id}}" name="title" >{{title}}</textarea>
          <div>
          <h4> Comment Content:</h4><textarea rows="4" cols="60" id="comcontent{{id}}" name="content" >{{content}}</textarea>
          <button class="btn"  style="color: white" onclick="updateComment( {{id}})">Update{{id}}</button>
          </div>
          
        </div>
      </div>
    </section>

    {{/if}}
    <script>
      function revealIt(idd) {

        document.getElementById(`EditComment${idd}`).style.display = "block";
        document.getElementById('commbutts').style.display = "none";
      }

      async function DeleteIt(pkid) {
        try {
          const response = await fetch(`/api/comments/${pkid}`, { method: 'DELETE' });
          if (response.ok) {
            console.log(`/api/comments/${pkid}`)
            document.location.replace('/');
          }
        }
        catch (err) { res.status(500).json({ message: 'Not deleted, not found' }) }
      }

      async function updateComment(idd) {
        try {
          const title = document.querySelector(`#comtitle${idd}`).value.trim();
          const content = document.querySelector(`#comcontent${idd}`).value.trim();
          console.log(content)
          if (content) {
            const response = await fetch(`/api/comments/${idd}`, {
              method: 'PUT',
              body: JSON.stringify({ title, content }),
              headers: { 'Content-Type': 'application/json' },
            });

            if (response.ok) {
              document.location.replace('/');
            }
          }
        }
        catch (err) {
          res.status(500).json({ message: 'Failed to edit comment.' })
        }
      };
    </script>

</section>