<section class="card" id="{{id}}" >
    <header style="display:flex; justify-content: space-between; background-color:yellow">
     <h5>Id: {{id}}</h5>
      <h4>{{title}}</h4>      
      <h6>posted by {{user.name}}<span>  on   </span>{{format_date user.createdAt}}</h6>
    </header>
    <div class="card-body">
      <p> {{comment.content}}</p>
      {{#if logged_in}}
       <button class="btn" id="Comment">Comment</button>
       {{/if}}
    </div>
</section>