<section class="card comment" id="{{id}}" >
    <header style="display:flex; justify-content: space-between; background-color:yellow">
     <h5>Id: {{id}}</h5>
      <h4>{{title}}</h4>      
      <h6>posted by {{content.user.name}}<span>  on   </span>{{format_date user.createdAt}}</h6>
    </header>
    <div class="card-body">
      <p> {{user}}</p> 
    </div>
</section>